name: Orchestrator
on:
  workflow_call:

jobs:
  # LOAD CONFIG
  load-config:
        runs-on: ubuntu-latest
        outputs:
          matrix: ${{ steps.read-config.outputs.matrix }}
          config: ${{ steps.read-config.outputs.content }}
        steps:
          - uses: actions/checkout@v4
            with:
              repository: gha-sec-scans/orchestrator 
              token: ${{ secrets.ORG_GITHUB_TOKEN }}
              ref: feature/setup           
              path: orchestrator-conf  
              sparse-checkout: .github/configs/tools.json 
              sparse-checkout-cone-mode: false

          - name: Read Configuration
            id: read-config
            run: |
              FILE_PATH="./orchestrator-conf/.github/configs/tools.json"
              ls -l $FILE_PATH
              content=$(jq -c . $FILE_PATH)
              echo "content=$content" >> $GITHUB_OUTPUT
              
              keys=$(jq -c 'keys' $FILE_PATH)
              echo "matrix=$keys" >> $GITHUB_OUTPUT

  # PREFLIGHT  
  ## STATIC ANALYSIS
  static-analysis:
    name: Scan (${{ matrix.tool }})
    needs: load-config
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tool: ${{ fromJson(needs.load-config.outputs.matrix) }}
    
    container:
      image: ${{ fromJson(needs.load-config.outputs.config)[matrix.tool].image }}
      options: --user root 

    steps:
      - uses: actions/checkout@v6     
      - name: Run Security Tool
        uses: gha-sec-scans/orchestrator/.github/actions/security-template@feature/setup
        with:
          tool_name: ${{ matrix.tool }}
          command: ${{ fromJson(needs.load-config.outputs.config)[matrix.tool].command }}
          report_file: ${{ fromJson(needs.load-config.outputs.config)[matrix.tool].report_file }}

  ## DEEP SAST    
  deep-sast:
    name: Deep SAST (CodeQL & Sonar)
    permissions:
        actions: read
        contents: read
        security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 
      - name: Setup & Cache
        id: setup
        uses: gha-sec-scans/orchestrator/.github/actions/setup@feature/setup

      # CODEQL
      - name: Init CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: 'java'
          
      - name: Build for CodeQL
        if: steps.setup.outputs.project-type == 'maven'
        run: mvn clean package -DskipTests -B

      - name: Analyze CodeQL
        uses: github/codeql-action/analyze@v4

      # SONARCLOUD
      - name: Sonar Analysis
        if: steps.setup.outputs.project-type == 'maven'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.projectKey=gha-sec-scans_webgoat \
          -Dsonar.organization=gha-sec-scans \
          -Dsonar.host.url=https://sonarcloud.io

  # TEST
  test:
    needs: load-config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup & Cache
        id: env-setup
        uses: gha-sec-scans/orchestrator/.github/actions/setup@feature/setup

      - name: Run Tests (Node)
        if: steps.env-setup.outputs.project-type == 'node'
        run: npm test

      - name: Run Tests (Maven)
        if: steps.env-setup.outputs.project-type == 'maven'
        run: mvn test

  # BUILD
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: pre-deploy
        run: |
          echo "This is the pre-deploy"


  #PRE-DEPLOY & DEPLOY
  pre-deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: pre-deploy
        run: |
          echo "This is the pre-deploy"

  deploy:
    needs: pre-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: |
          echo "This is the deploy"