name: Orchestrator
on:
  workflow_call:

jobs:
  # LOAD CONFIG
  load-config:
        runs-on: ubuntu-latest
        outputs:
          matrix: ${{ steps.read-config.outputs.matrix }}
          config: ${{ steps.read-config.outputs.content }}
        steps:
          - uses: actions/checkout@v6
            with:
              repository: gha-sec-scans/orchestrator 
              token: ${{ secrets.ORG_GITHUB_TOKEN }}
              ref: feature/predeploy           
              path: orchestrator-conf  
              sparse-checkout: .github/configs/tools.json 
              sparse-checkout-cone-mode: false

          - name: Read Configuration
            id: read-config
            run: |
              FILE_PATH="./orchestrator-conf/.github/configs/tools.json"
              ls -l $FILE_PATH
              content=$(jq -c . $FILE_PATH)
              echo "content=$content" >> $GITHUB_OUTPUT
              
              keys=$(jq -c 'keys' $FILE_PATH)
              echo "matrix=$keys" >> $GITHUB_OUTPUT

  # PREFLIGHT  
  ## STATIC ANALYSIS
  static-analysis:
    name: Scan (${{ matrix.tool }})
    needs: load-config
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        tool: ${{ fromJson(needs.load-config.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v6
      - name: Run Security Tool
        uses: gha-sec-scans/orchestrator/.github/actions/security-template@feature/predeploy
        with:
          tool_name: ${{ matrix.tool }}
          image: ${{ fromJson(needs.load-config.outputs.config)[matrix.tool].image }}
          command: ${{ fromJson(needs.load-config.outputs.config)[matrix.tool].command }}
          report_file: ${{ fromJson(needs.load-config.outputs.config)[matrix.tool].report_file }}

  ## CodeQL
  codeql:
    name: SAST - CodeQL
    needs: load-config
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - name: Setup & Cache
        id: setup
        uses: gha-sec-scans/orchestrator/.github/actions/setup@feature/predeploy

      - name: Run CodeQL Workflow
        uses: gha-sec-scans/orchestrator/.github/actions/codeql-analysis@feature/predeploy
        with:
          project-type: ${{ steps.setup.outputs.project-type }}

  ## Sonar
  sonar:
    name: SAST - SonarCloud
    needs: load-config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup & Cache
        id: setup
        uses: gha-sec-scans/orchestrator/.github/actions/setup@feature/predeploy

      - name: Run Sonar Workflow
        uses: gha-sec-scans/orchestrator/.github/actions/sonar-analysis@feature/predeploy
        with:
          project-type: ${{ steps.setup.outputs.project-type }}
          sonar-token: ${{ secrets.SONAR_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  # TEST
  test:
    needs: load-config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup & Cache
        id: setup
        uses: gha-sec-scans/orchestrator/.github/actions/setup@feature/predeploy

      - name: Run Tests (Node)
        if: steps.setup.outputs.project-type == 'node'
        run: npm test

      - name: Run Tests (Maven)
        if: steps.setup.outputs.project-type == 'maven'
        run: mvn test

# BUILD & PUSH
  build:
    name: Build & Push Docker Image
    needs: [test, static-analysis, codeql, sonar]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup & Cache
        id: setup
        uses: ./.github/actions/setup

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Maven Build & Push
        if: steps.setup.outputs.project-type == 'maven'
        uses: ./.github/actions/build-maven
        with:
          image-tag: ghcr.io/${{ github.repository }}:${{ github.sha }}

      - name: Run Node Build & Push
        if: steps.setup.outputs.project-type == 'node'
        uses: ./.github/actions/build-node
        with:
          image-tag: ghcr.io/${{ github.repository }}:${{ github.sha }}

  #PRE-DEPLOY & DEPLOY
  pre-deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: pre-deploy
        run: |
          echo "This is the pre-deploy"

  deploy:
    needs: pre-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: |
          echo "This is the deploy"