name: Orchestrator
on:
  workflow_call:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup & Cache
        uses: gha-sec-scans/orchestrator/.github/actions/setup@feature/setup

  preflight:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: preflight
        run: |
          echo "This is the preflight"

  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: |
          echo "This is the test"

  build:
    needs: [preflight, test]
    runs-on: ubuntu-latest
    steps:
      - name: build
        run: |
          echo "This is the build"

  pre-deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: pre-deploy
        run: |
          echo "This is the pre-deploy"

  deploy:
    needs: pre-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: |
          echo "This is the deploy"
